PORT=3000
DB_CONNECTION_STRING=postgresql://postgres:mypassword@localhost:5432/click_fix_db
NODE_ENV=development
JWT_SECRET=mysecret
ADMIN_EMAIL = admin@example.com
ADMIN_PASSWORD = secret_password
t4ozyZITvEePl2Aa